body {
    font-family: Times New Roman, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #e6f5f0;
    max-width: 800px;
    margin: 0 auto;
    background: #7b968d

}

h1 {
    color: #ceded9;
    border-bottom: 2px solid #4d4523
    padding-bottom: 10px;
}

img{
    width: 300px;
}

button {
background: #ceded9;
  color: #7b968d;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
  transition: 0.2s ease;
}
button:hover {
  transform: translateY(-3px);

blockquote {
    color: #a6913a
}